treechildren::-moz-tree-image(modules_poll_response){
	list-style-image: url(/icons/small/wlistsimple.png) ;
}
treechildren::-moz-tree-image(modules_poll_poll){
	list-style-image: url(/icons/small/column-chart.png) ;
}
treechildren::-moz-tree-image(modules_poll_text){
	list-style-image: url(/icons/small/weditbox.png) ;
}
