<a tal:attributes="name item/getId" />
<p tal:content="item/getQuestion"/>

<p tal:condition="item/getDescription" tal:content="item/getDescription" />

<div tal:condition="item/getDisplayresult">
	<tal:block tal:repeat="response item/getChildrenPublishedResponse">
		<div class="pollanswer pollanswer${repeat/response/number}">${response/getLabel} : ${response/getPourcentValue}% <span title="${response/getVotesAsLocalizedString}">(${response/getVotesAsNumber})</span></div>
		<div class="modules-poll-response-container">
			<div class="modules-poll-response modules-poll-response${repeat/response/number}" style="width: ${response/getPourcentValue}%">&nbsp;</div>
		</div>
	</tal:block>
	<p tal:condition="php: item->getVotes() > 1" change:translate="&modules.poll.frontoffice.votesTotalNumber;; votes item/getVotes" />
	<p tal:condition="php: item->getVotes() < 2" change:translate="&modules.poll.frontoffice.voteTotalNumber;; votes item/getVotes" />
</div>

<div tal:condition="not: item/getDisplayresult">
	<p tal:condition="AlreadyParticipated" change:translate="&modules.poll.frontoffice.AlreadyParticipated;" />
	<p change:translate="&modules.poll.frontoffice.NotDisplayResult;" />
</div>

<p tal:condition="partComment" tal:content="partComment"/>
<p tal:condition="closeComment" tal:content="closeComment"/>

<a tal:condition="item/getRelatedpage" change:link="document item/getRelatedpage" change:translate="&modules.poll.frontoffice.SeeMore;" />