<tal:block>${style}</tal:block>
<h2>${item/getLabelAsHtml}</h2>
<tal:block tal:repeat="response item/getChildrenPublishedResponse">
	<div class="pollanswer pollanswer${repeat/response/number}">${response/getLabelAsHtml} : ${response/getPourcentValue}% <span title="${response/getVotesAsLocalizedString}">(${response/getVotesAsNumber})</span></div>
	<div class="modules-poll-response-container">
		<div class="modules-poll-response modules-poll-response${repeat/response/number}" style="width: ${response/getPourcentValue}%">&nbsp;</div>
	</div>
</tal:block>
<div tal:condition="php: item.getVotes() GT 1" change:translate="modules.poll.frontoffice.votesTotalNumber; votes item/getVotes"></div>
<div tal:condition="php: item.getVotes() LT 2" change:translate="modules.poll.frontoffice.voteTotalNumber; votes item/getVotes"></div>